$color-theme: #56717e;
$color-text: #242b2e;

$color-d1: #4e6673;
$color-d2: #455b66;
$color-d3: #3d5059;
$color-d4: #34444c;
$color-d5: #2b3940;

$color-l1: #72909f;
$color-l2: #95acb7;
$color-l3: #b9c8cf;
$color-l4: #dce3e7;
$color-l5: #f4f7f8;

$color-danger: #d22a2a;
$color-warning: #f1db64;
$color-success: #28a745;

$color-gray-66: #666666;
$color-gray-96: #969696;
$color-gray-c0: #c0c0c0;
$color-gray-e0: #e0e0e0;
$color-gray-f2: #f2f2f2;
