$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

.txt {
  font-family: "Open Sans", sans-serif !important;
  margin: 0 !important;
  padding: 0;
}

p,
label {
  @extend .txt;
}

h1 {
  @extend .txt;
  font-size: 3rem !important;
}

h2 {
  @extend .txt;
  font-size: 2.25rem !important;
}

h3 {
  @extend .txt;
  font-size: 1.5rem !important;
}

h4 {
  @extend .txt;
  font-size: 1.25rem !important;
}

h5 {
  @extend .txt;
  font-size: 1rem !important;
}

h6 {
  @extend .txt;
  font-size: 0.875rem !important;
}

.bold {
  font-weight: $fw-bold !important;
}

.semi-bold {
  font-weight: $fw-semi-bold !important;
}

.regular {
  font-weight: $fw-regular !important;
}
