.toast-success {
  background-image: none !important;
  background-color: rgba(30, 169, 125, 0.15) !important;
  color: #1ea97c !important;
  border-left: 4px solid #1ea97c !important;
  font-size: 0.8725rem !important;
  padding: 1rem 1.5rem !important;

  .toast-title::before {
    content: "✔";
    margin-right: 0.25rem;
  }
}

.toast-error {
  background-image: none !important;
  background-color: rgba(255, 87, 87, 0.15) !important;
  color: #ff5757 !important;
  border-left: 4px solid #ff5757 !important;
  font-size: 0.8725rem !important;
  padding: 1rem 1.5rem !important;

  .toast-title::before {
    content: "✖";
    margin-right: 0.25rem;
  }
}
