@import "projects/ast/src/assets/styles/init.scss";

@import "~ngx-toastr/toastr";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
}

body {
  margin: 0;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 1000 !important;
}

.cdk-overlay-pane {
  // transform: translateY(-7px);
  z-index: 2000;
}

// Style mat input
.mat-form-field-infix {
  border-top: none;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
  border-radius: 0 !important;
  padding: 0 !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-option {
  height: 40px !important;
}

.mat-option-text {
  font-size: 0.875rem !important;
  height: 40px !important;
  transform: translateY(-3px);
}
